{% load custom_tags %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            {% for storage in storages %}
            <li role="presentation" class="{{ storage.active }}"><a href="#{{ storage.name }}Diff" aria-controls="{{ storage.name }}Diff" role="tab" data-toggle="tab">{{ storage.title }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for storage in storages %}
            <div role="tabpanel" class="tab-pane {{ storage.active }}" id="{{ storage.name }}Diff">
                <div class="row"><h2>
                    <div class="col-sm-11">Productos en {{ storage.title }}</div>
                    <div class="col-sm-1">
                        <p data-placement="top" data-toggle="tooltip" title="Realizar pedido para {{ storage.title }}"><button type="button" class="btn btn-info btn-lg btn-block order-modal" data-storage="{{ storage.name }}" data-toggle="modal" data-target="#new_order"><i class="fa fa-envelope"></i></button></p>
                    </div>
                </h2></div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordred table-striped table-hover">
                            <thead>
                                <th>
                                    <div class="btn-group btn-input clearfix filter-btn">
                                      <button type="button" class="btn btn-default dropdown-toggle btn-block form-control" data-toggle="dropdown" aria-expanded="false"> Codigo <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" class="dropdown-header">Ordenar</li>
                                        <li><a href="/?sort=code">Ascendente</a></li>
                                        <li><a href="/?sort=code&order=desc">Descendente</a></li>
                                        <li class="divider"></li>
                                        <li role="presentation" class="dropdown-header">Filtrar</li>
                                        <li class="filter-menu"><input type="text" class="input-filter form-control" data-field="code"></li>
                                      </ul>
                                    </div>
                                </th>
                                <th>
                                    <div class="btn-group btn-input clearfix filter-btn">
                                      <button type="button" class="btn btn-default dropdown-toggle btn-block form-control" data-toggle="dropdown" aria-expanded="false"> Marca <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" class="dropdown-header">Ordenar</li>
                                        <li><a href="/?sort=model">Ascendente</a></li>
                                        <li><a href="/?sort=model&order=desc">Descendente</a></li>
                                        <li class="divider"></li>
                                        <li role="presentation" class="dropdown-header">Filtrar</li>
                                        <li class="filter-menu">
                                            <select type="text" class="select-filter form-control" data-field="model">
                                                <option value=""></option>
                                                {% for model in models %}
                                                    <option value="{{ model.id }}">{{ model.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </li>
                                      </ul>
                                    </div>
                                </th>
                                <th>
                                    <div class="btn-group btn-input clearfix filter-btn">
                                      <button type="button" class="btn btn-default dropdown-toggle btn-block form-control" data-toggle="dropdown" aria-expanded="false"> Proveedor <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" class="dropdown-header">Ordenar</li>
                                        <li><a href="/?sort=provider">Ascendente</a></li>
                                        <li><a href="/?sort=provider&order=desc">Descendente</a></li>
                                        <li class="divider"></li>
                                        <li role="presentation" class="dropdown-header">Filtrar</li>
                                        <li class="filter-menu">
                                            <select type="text" class="select-filter form-control" data-field="provider">
                                                <option value=""></option>
                                                {% for provider in providers %}
                                                    <option value="{{ provider.id }}">{{ provider.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </li>
                                      </ul>
                                    </div>
                                </th>
                                <th>
                                    <div class="btn-group btn-input clearfix filter-btn">
                                      <button type="button" class="btn btn-default dropdown-toggle btn-block form-control" data-toggle="dropdown" aria-expanded="false"> Nombre <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" class="dropdown-header">Ordenar</li>
                                        <li><a href="/?sort=name">Ascendente</a></li>
                                        <li><a href="/?sort=name&order=desc">Descendente</a></li>
                                        <li class="divider"></li>
                                        <li role="presentation" class="dropdown-header">Filtrar</li>
                                        <li class="filter-menu"><input type="text" class="input-filter form-control" data-field="name"></li>
                                      </ul>
                                    </div>
                                </th>
                                <th>
                                    <div class="btn-group btn-input clearfix filter-btn">
                                      <button type="button" class="btn btn-default dropdown-toggle btn-block form-control" data-toggle="dropdown" aria-expanded="false"> Descripcion <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" class="dropdown-header">Ordenar</li>
                                        <li><a href="/?sort=description">Ascendente</a></li>
                                        <li><a href="/?sort=description&order=desc">Descendente</a></li>
                                        <li class="divider"></li>
                                        <li role="presentation" class="dropdown-header">Filtrar</li>
                                        <li class="filter-menu"><input type="text" class="input-filter form-control" data-field="description"></li>
                                      </ul>
                                    </div>
                                </th>
                                <th>Existentes</th>
                                <th>Necesitadas</th>
                                <th>Faltantes</th>
                            </thead>
                            <tbody>
                                {% for product in storage.products %}
                                <tr id="{{ product.code }}" data-code="{{ product.code }}" data-model="{{ product.model }}" data-provider="{{ product.provider.id }}" data-name="{{ product.name }}" data-description="{{ product.description }}" data-price="{{ product.price }}" data-classification="{{ product.classification.id }}" class="product-row">
                                    <td>{{ product.code }}</td>
                                    <td>{{ product.model }}</td>
                                    <td>{{ product.provider }}</td>
                                    <td class="product-name">{{ product.name }}</td>
                                    <td>{{ product.description }}</td>
                                    {% if storage.name == "consignment" %}
                                    <td>{{ product.in_consignment }}</td>
                                    <td>{{ product.consignment_tobe }}</td>
                                    <td class="needed">{{ product.consignment_tobe|substract:product.in_consignment }}</td>
                                    {% endif %}
                                    {% if storage.name == "stock" %}
                                    <td>{{ product.in_stock }}</td>
                                    <td>{{ product.stock_tobe }}</td>
                                    <td class="needed">{{ product.stock_tobe|substract:product.in_stock }}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="modal fade" id="new_order" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align">Nueva Orden</h4>
            </div>
            <form class="form-horizontal" action="" autocomplete="off" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok-sign"></span> Pedir</button>
                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>